/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #23272a;
}

a {
  text-decoration: none;
  color: #23272a;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

h3 {
  font-size: 36px;
  margin-bottom: 20px;
}

h5 {
  font-size: 30px;
}

li a {
  color: #fff;
}

/* REUSABLE */

.container {
  width: 70%;
  margin: 0 auto;
}

.bg-gray {
  background-color: rgb(243, 243, 243);
}

.btn {
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 200px;
}

/* HEADER */

header {
  background-image: url(../img/jumbo.png);
  background-size: cover;
}
/* NAV */
.nav-bar {
  height: 80px;
  display: flex;
  align-items: center;
  /* debug */
  /* background-color: aqua; */
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 2px;
  /* debug */
  /* background-color: orange; */
}

nav {
  display: flex;
  justify-content: space-between;
  /* DEBUG */
  padding: 10px 15px;
}

#header-nav-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 40px;
}

.btn-login {
  padding: 10px 20px;
}

/* HERO SECTION */

.hero-section {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* debug */
  /* background-color: blue; */
}

.hero-content {
  width: 40%;
  color: #fff;
  /* debug */
  /* height: 400px;
  background-color: pink; */
}

.hero-content h1 {
  font-size: 52px;
  text-align: center;
  margin-bottom: 30px;
}

.hero-content p {
  text-align: center;
}

/* BTN */

.fa-down-long {
  margin-right: 6px;
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}

.btn-black {
  color: #fff;
  background-color: #23272a;
  /* padding: 15px 30px; */
}

/* FEATURE SECTION */

.feature-block {
  padding: 62px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feature-img {
  width: 55%;
  /* debug */
  /* height: 400px;
  background-color: rgb(47, 188, 253); */
}

.feature-content {
  width: 25%;
  /* debug
  height: 400px;
  background-color: pink; */
}

/* .feature-section:nth-child(even) {
  background-color: rgb(243, 243, 243);
} */

.last-feature-content {
  text-align: center;
  width: 100%;
  padding: 62px 0;
  /* debug */
  /* height: 800px;
  background-color: green; */
}

.last-feature-content:after {
  content: url(../img/stars.svg);
  position: relative;
  bottom: 228px;
}

.cta-section {
  margin: 80px 0;
}
.cta-section h5 {
  margin-bottom: 50px;
}
.btn-blue {
  background-color: #8ea1e1;
  color: #fff;
  text-align: center;
}

/* FOOTER */

footer {
  background-color: #23272a;
  min-height: 500px;
}

/* FIRST SECTION FOOTER */

.first-footer-section {
  padding: 20px 0;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;

  display: flex;
  gap: 5px;
  /* justify-content: center;
  align-items: center; */
}

.first-column {
  width: 30%;
  height: 400px;
}

.second-column-section {
  display: flex;
  gap: 5px;
  width: 70%;
  height: 400px;
}

.col-social {
  height: 100%;
  width: 100%;
  background-color: rgb(228, 58, 11);
}

.col-link {
  width: 25%;
  height: 100%;
  background-color: green;
}

/* SECOND SECTION FOOTER */

.second-footer-section {
  background-color: aquamarine;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  background-color: rgb(251, 147, 147);
}

.footer-btn {
  background-color: rgb(251, 147, 147);
  border: none;
  cursor: pointer;
}
